@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";
body {
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
	color: black;
    transition: all 0.3s;
}

body.dark-mode {
  background-color: #13294B;
  color: white;
}

:target::before {
    content: '';
    display: block;
    height:      60px;
    margin-top: -60px;
}

h1 {
	margin-top: 60px;
	margin-bottom: 30px;
}

h2, h3 {
	margin-top: 60px;
	margin-bottom: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #black;
	text-indent: 0em;
	text-align: justify;
}

#content ul {
	text-indent: 0em;
	margin-left: 0em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 0px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 5px #888888;
	height: 50px !important;
	width: 100%;
    transition: top 0.5s ease;
}

.navbar-hide {
    top: -56px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    Other
----------------------------------------------------- */

#content a {
  color: #0000EE !important;
}

/* ---------------------------------------------------
    Vimeo
----------------------------------------------------- */
.iframe-container {overflow: hidden; padding-top: 56.25%; position: relative;}
.iframe-container iframe {border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%;}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #ffffff;
    color: #fff;
    transition: all 0.3s;
    padding-top: 0px;
}

#sidebar.dark-mode {
    background: #13294B;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff;
}

#sidebar ul.components {
    padding: 60px 0px;
}

#sidebar ul.list-group {
    padding-top: 60px;
    padding-left: 15px;
}

#sidebar ul ul.list-group {
    padding-top: 0px;
}

#sidebar ul p {
    color: #fff;
    padding: 0px;
}

/* Original ---------------------------------------------------
#sidebar ul li a {
    padding: 0px;
    font-size: 1.1em;
    display: list-item;
	list-style-type: disc;
	margin-left: 0px;
}

#sidebar ul li ul {
    padding-left: 15px;
}
----------------------------------------------------- */

#sidebar ul {
	list-style: none;
}

#sidebar ul li a {
    padding: 0px;
    font-size: 1.1em;
	margin-left: 0px;
}

#sidebar ul li ul {
    padding-left: 15px;
}

#sidebar ul li a::before {
  content: "\2022";
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 1.3em;
  font-style: normal !important;
}

#sidebar.dark-mode ul li a::before {
  color: white;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #56a1d3 !important;
	border-radius: 0px 15px 15px 0px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 0px !important;
	color: black;
	white-space: nowrap
}

#sidebar.dark-mode ul ul a {
	background: #13294B;
	color: white;
}

#sidebar ul li a.active {
	font-style: italic !important;
	font-weight: bold !important;
    color: #ffffff;
    background: #56a1d3;
	border-radius: 0px 15px 15px 0px;
}

#sidebar ul li a + ul {
  display: none;
}

#sidebar ul li a.active + ul {
  display: block;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 300px);		  
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 65vh;
    padding-left: 40px;
    padding-right: 40px;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 300px);
    }
    #sidebarCollapse span {
        display: none;
    }
}